# =========================
# ENV / SECRETS
# =========================
.env

# =========================
# DATABASE
# =========================
db.sqlite3

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc

# =========================
# FAISS INDEX (REBUILD ON DEPLOY)
# =========================
rag/faiss_index/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DJANGO STATIC FILES
# =========================
staticfiles/