# =========================
# ENV / SECRETS
# =========================
.env

# =========================
# DATABASE
# =========================
db.sqlite3

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DJANGO STATIC FILES
# =========================
staticfiles/